@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.header {
    text-transform: none;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: poppins;
}

.Cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Card{
    background-color: #e4e0e0;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
    text-align: center;
}

.Card>img{
    width: 350px;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}
.Card>h3{
    font-family: Nunito;
    font-size: 130%;
}
.Card>p{
    font-family: Nunito;
    width: 350px;
}
.Card>button{
    width: 150px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    
}
.Card>a{
    color: #FF6363;   
    background: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 120px;
    transition: background-color 0.25s ease-in-out;
}

.Card>a:hover{
    background-color: #FF6363;   
    color: white;
}


a{
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    
}