@font-face {
    font-family: BlackSword;
    src: url(../assets/fonts/Blacksword.otf);
}

.NavImg{
    width: 200px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eeeeee;
}

.nav>div{
    margin: 10px;
}

.right-div>h1{
    font-family: BlackSword;
    font-size: 40px;
}